<div id="page_wrapper">
    <div id="profile_image">
        <%=image_tag "profile.jpeg"%>
    </div>
    <div id="content">
        <h1>It's Mr. Stick Figure</h1>
        <p>Synth food truck shaman anim salvia, post-ironic migas bicycle rights. 
            +1 dolore excepteur veniam. Occaecat VHS velit, yuccie glossier succulents 
            pour-over ethical intelligentsia banjo single-origin coffee man bun veniam paleo. 
            Bespoke irony chartreuse exercitation listicle non jianbing ea veniam synth. 
            Dreamcatcher mixtape selvage magna pabst plaid ex helvetica brunch dolore quinoa. 
            Pop-up sriracha readymade actually viral air plant enamel pin migas tbh PBR&B. 
            Keffiyeh sriracha mixtape food truck chicharrones four dollar toast cred, adipisicing 
            la croix aliqua. Taxidermy portland fashion axe, coloring book crucifix chambray fugiat 
            authentic sriracha sint blue bottle eiusmod commodo. Health goth cred consequat labore 
            njo synth art party. Fixie raw denim organic gochujang, reprehenderit letterpress paleo
            abst authentic chartreuse hell of in est deserunt. Proident ex ipsum kickstarter chicharrones 
            culpa cliche before they sold out coloring book. Roof party vinyl minim humblebrag duis fixie 
            jianbing. Whatever quis fingerstache tbh.</p>
    </div>
</div>